*{
    border: 1px solid black;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color:brown;
    display: flex;
}

.sidebar{
    flex-grow: 1;
}

.content{
    flex-grow: 3;
}