*{
    border: 1px solid black;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color:brown;
    display: flex;
}

.header-area{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.logo{
    flex-grow: 1;
    text-align: center;
}

.nav-breadcrumbs{
    flex-grow: 16;
    text-align: center;;
}

.main-content{
    flex-direction: row;
    display: flex;
    justify-content: center;;
}

.sidebar-left{
    text-align: center;
    flex-direction: column;
    rotate: -90deg;
}

.content{
    flex-grow: 3;
    text-align: center;
}

.sidebar-right{
    flex-grow: 1;
    text-align: center;
}

.footer{
    flex-grow: 1;
    text-align: center;
}