body{
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: midnightblue;
    position: sticky;
    block-size: 100px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div{
        block-size: 500px;
}
div.SidebarG{
    background-color: bisque;
    justify-content: left;
    text-align: center;
    flex-grow: 0.5;
}

div.SidebarD{
    background-color: bisque;
    justify-content: right;
    text-align: center;
    flex-grow: 0.5;
    flex-wrap: wrap
}

div.content{
    background-color: grey;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

footer{
    background-color: antiquewhite;
    text-align: center;
    block-size: 100px;
}